{
  "extends": [
    "@vant/stylelint-config"
  ],
  "rules": {
    "unit-no-unknown": [
      true,
      {
        "ignoreUnits": "/rpx/"
      }
    ],
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "/page/"
        ]
      }
    ]
  }
}
