@import '../common/style/var.less';

.van-skeleton {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: var(--skeleton-padding, @skeleton-padding);

  &__avatar {
    flex-shrink: 0;
    margin-right: var(--padding-md, @padding-md);
    background-color: var(
      --skeleton-avatar-background-color,
      @skeleton-avatar-background-color
    );

    &--round {
      border-radius: 100%;
    }
  }

  &__content {
    flex: 1;
  }

  &__avatar + &__content {
    padding-top: var(--padding-xs, @padding-xs);
  }

  &__row,
  &__title {
    height: var(--skeleton-row-height, @skeleton-row-height);
    background-color: var(
      --skeleton-row-background-color,
      @skeleton-row-background-color
    );
  }

  &__title {
    margin: 0;
  }

  &__row {
    &:not(:first-child) {
      margin-top: var(--skeleton-row-margin-top, @skeleton-row-margin-top);
    }
  }

  &__title + &__row {
    margin-top: 20px;
  }

  &--animate {
    animation: van-skeleton-blink @skeleton-animation-duration ease-in-out
      infinite;
  }
}

@keyframes van-skeleton-blink {
  50% {
    opacity: 0.6;
  }
}
