@import '../common/style/var.less';

.van-collapse-item {
  &__title {
    .van-cell__right-icon {
      transform: rotate(90deg);
      transition: @collapse-item-transition-duration;
    }

    &--expanded {
      .van-cell__right-icon {
        transform: rotate(-90deg);
      }
    }

    &--disabled {
      .van-cell,
      .van-cell__right-icon {
        color: @collapse-item-title-disabled-color !important;
      }

      .van-cell:active {
        background-color: @white !important;
      }
    }
  }

  &__wrapper {
    overflow: hidden;
    will-change: max-height;
    transition: max-height @collapse-item-transition-duration ease-in-out;
  }

  &__content {
    color: @collapse-item-content-text-color;
    padding: @collapse-item-content-padding;
    font-size: @collapse-item-content-font-size;
    line-height: @collapse-item-content-line-height;
    background-color: @collapse-item-content-background-color;
  }
}
